<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="./css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Russo+One&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <%- include("../partials/header.ejs") %>

    <section class="profile-card card">
      <div class="greet">
        <div class="pfp">
          <img src="./assets/images/default-pfp.png" alt="">
        </div>
        <div class="parags">
          <h2>Welcome back, <%= user.username %>!</h2>
          <p>Keep going, you’re doing great</p>
        </div>
      </div>
      <div class="stats">
        <div class="profile-stat">
          <h2><%= user.exp %></h2>
          <p>EXP</p>
        </div>
        <div class="profile-stat">
          <h2><%= user.level %></h2>
          <p>Level</p>
        </div>
        <div class="profile-stat">
          <h2><%= user.orbs %></h2>
          <p>Orbs</p>
        </div>
      </div>
    </section>


    <div class="snapshots">
      <section class="card1 card">
        <div class="card-thumbnail">
          <img class="thumbnail" draggable="false" src="<%= currentModule.thumbnail %>" alt="">
        </div>
        <div class="info">
          <h3 class="module"><%= currentModule.name %></h3>
          <div class="prog-btn">
            <progress value="<%= currentModule.progress %>" max="100"></progress>
            <button class="continue-btn" 
                    onclick="window.location.href='/training/module/<%= currentModule.order_index %>/lesson/<%= currentLesson.order_index %>'">
              <% if (currentModule.progress === 0) { %>
                Get Started
              <% } else if (currentModule.progress >= 100) { %>
                Finished
              <% } else { %>
                Continue
              <% } %>
            </button>
          </div>
        </div>
      </section>

      <section 
        class="card2 card <%= challengeSnapshot.locked ? "locked" : "" %>"
        <% if (challengeSnapshot.locked) { %>
            data-locked-text="Complete the module to unlock"
          <% } %>>

        <div class="card-thumbnail">
          <img class="thumbnail" draggable="false" src="<%= challengeSnapshot.thumbnail %>" alt="">
        </div>

        <div class="info challenge">
          <h3 class="module"><%= challengeSnapshot.name %></h3>

          <% if (challengeSnapshot.locked) { %>
            <button class="continue-btn" disabled>
              Locked
            </button>
          <% } else { %>
            <button class="continue-btn" onclick="window.location.href='/challenge/module/<%= currentModule.order_index %>'">
              <%= challengeSnapshot.finished ? "Completed" : "Continue" %>
            </button>
          <% } %>
        </div>
      </section>

    </div>



    <section class="stats-overview card">
      <h2>Stats Overview</h2>
      <div class="stats">
        <div class="stat">
          <h3>Lessons Completed</h3>
          <p><%= user.lessons_completed %></p>
        </div>
        <div class="stat">
          <h3>Challenges Completed</h3>
          <p><%= user.challenges_completed %></p>
        </div>
        <div class="stat">
          <h3>Accuracy Rate</h3>
          <p><%= user.accuracy_rate %></p>
        </div>
      </div>
    </section>
  </body>
</html>